body {
  background-color: #373a36;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-weight: 600;
  font-style: italic;
}

p {
  color: white;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-weight: 600;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0 0 20px 0;
}

.done {
  text-decoration: line-through;
}

.App {
  font-family: "Archivo", sans-serif;
  text-align: center;
  background-color: #d48166;
  margin: 25px auto;
  width: 15%;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}
